# ── Production ──
PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/frisechrono
JWT_SECRET=CHANGE_ME_GENERE_AUTOMATIQUEMENT
JWT_EXPIRES_IN=7d
FRONTEND_URL=https://frisechrono.galaxy-pro.fr
NODE_ENV=production
